[submodule "slobber"]
	path = slobber
	url = https://github.com/itkach/slobber
[submodule "slobj"]
	path = slobj
	url = https://github.com/itkach/slobj

[submodule "aard2-android"]
	path = aard2-android
	url = https://github.com/sivaraam/aard2-android
